* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a1a3ad; 
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
}

a {
    color: #0d132c;
    text-decoration: none;
}

a:hover {
    opacity: 0;
    transition-duration: 2s;
    cursor: s-resize;
}

.drop-main {
    display: flex;
    margin: 1.5rem;
}

.d {
    opacity: 0;
    animation: drop 1s linear forwards .2s;
    color: #6093c0;

}
.r {
    opacity: 0;
    animation: drop 1s linear forwards .2s;
    animation-delay: 1s;
    color: #55789c;
    padding-left: 1%;
}
.o {
    opacity: 0;
    animation: drop 1s ease-out forwards .2s;
    animation-delay: 2s;
    color: #46708f;
    padding-left: 3%;
    margin-top: 15%;
}
.p {
    opacity: 0;
    animation: drop 1s ease-out forwards .2s;
    animation-delay: 3s;
    color: #274565;
    padding-left: 3%;
    margin-top: 25%;
}

.e {
    opacity: 0;
    animation: drop 1s ease-out forwards .2s;
    animation-delay: 4s;
    color: #142e44;
    padding-left: 3%;
    margin-top: 35%;
}

.s {
    opacity: 0;
    animation: drop 1s linear forwards .2s;
    animation-delay: 5s;
    color: #051933;
    padding-left: 2%;
    margin-top: 45%;
}

@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(-17px);
        opacity: 1;
    }
    75% {
        transform: translateY(-22px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

